</br>
<div class="container">
  <%= month_calendar attribute: :fechaInicio, end_attribute: :fechaFin, events: @eventos do |date, eventos| %>
    <%= date.day %>

    <% eventos.each do |evento| %>
      <div>
        <%= link_to evento.nombre, evento_path(evento) %>
      </div>
    <% end %>
  <% end %>
</div>