<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Inicia sesión!</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Email">
					<input type="password" name="pass" placeholder="Contraseña">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="http://localhost:3000/register">Regístrate</a>
				  </div>
				</div>
			</div>

			<style>
			body{
  background-image: url('https://static.pexels.com/photos/5156/people-eiffel-tower-lights-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
</style>