<div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Regístrate ahora!</h1><br>
				  <form>
				  	<input type="text" name="mail" placeholder="email@ejemplo.com">
					<input type="text" name="user" placeholder="Nombre">
					<input type="text" name="user" placeholder="Apellido">
					<input type="password" name="pass" placeholder="Contraseña">
					<input type="password" name="pass" placeholder="Confirma tu contraseña">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="http://localhost:3000/login#">Iniciar sesión</a>
				  </div>
				</div>
			</div>

			<style>
			body{
  background-image: url('https://static.pexels.com/photos/5156/people-eiffel-tower-lights-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
</style>